* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --Tomato: hsl(4, 100%, 67%);

  --DarkSlateGrey: hsl(234, 29%, 20%);
  --CharcoalGrey: hsl(235, 18%, 26%);
  --Grey: hsl(231, 7%, 60%);
  --White: hsl(0, 0%, 100%);
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--DarkSlateGrey);
  display: flex;
  flex-direction: column;
  place-content: center;
  height: 100vh;
}
